body {
    background-color: rgb(30, 102, 195);
  }
.card-img-top {
    width: 30px;
    height: 50px;
    position: relative;
    bottom: 5%;
}
.card {
    background-color: rgb(131, 161, 155);
    border: 2px solid black;
}
.wrapper {
    background-image: url("./background.jpg");
    background-size: 100%;
}
@media screen and (max-width: 560px) {
    body {
      background-color: olive;
    }
    .card-img-top {
        height: 40px;
        width: 40px;
    }
    .card {
        position: relative;
        width: 20%;
        height: 70px;
    }
  }