body {
    background-color: rgb(30, 102, 195);
  }
.card-img-top {
    width: 35%;
    height: 70px;
    position: relative;
    bottom: -10%;
}
.card {
    background-color: rgb(131, 161, 155);
    border: 2px solid black;
    height: 95px;
}
.wrapper {
    background-image: url("./background.jpg");
    background-size: 100%;
}
@media screen and (max-width: 720px) {
    body {
      background-color: olive;
    }
    .card-img-top {
        height: 60px;
        width: 55px;
        left: -20%;
    }
    .card {
        position: relative;
        width: 20%;
    }
  }