.card-img-top {
    width: 100px;
    height: 120px;
    position: relative;
    bottom: 5%;
}
.card {
    width: 120px;
    height: 125px;
    background-color: rgb(131, 161, 155);
    border: 2px solid black;
}
.wrapper {
    background-image: url("./background.jpg");
    background-size: 100%;
}